<!DOCTYPE html>
<html lang="en">

<head>
    <title>Campground Show</title>
</head>
<body>
    <h1><%= campground.title %>: </h1>
    <h2>location:<%= campground.location %> </h2>
    
</body>
</html>